%h1 Listing tweets

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.title
      %td= tweet.content
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tweet', new_tweet_path
