<li>
  	<div class="thumbnail">
  		<a href="<%= url %>">
			<img src="<%= thumbnail_url %>" />
		</a>
		<p>
			<%= name %>
			<br>
			<%= created_at %>
			<a href="<%= delete_url %>" data-method="<%= delete_type %>" rel="nofollow">Delete</a>
		</p>
  	</div>
</li>