<li>
  	<div class="thumbnail">
  		<a href="<%= url %>">
			<img src="<%= thumbnail_url %>" />
		</a>
		<p>
			<%= file_file_name %>
			<br>
			<%= created_at %>
			<a href="#<%= id %>" rel="nofollow" class="destroy">Delete</a>
		</p>
  	</div>
</li>